<!DOCTYPE html>
<html2 lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
  <% if (locals.book) { %>
    <div style="display: flex">
      <img src="/images/placeholder.png" style="width: 100px; height: 100px">
      <div>
        <h2>Title: <%=book.title%></h2>
        ...<br>
        blah blah...<br>
        ...<br>
        <h4>Owner: <%=book.firstname + ' ' + book.lastname%></h4>
        <input type="button" name="btn_contact_owner" value="Contact the owner">
        <script type="text/javascript">
          function contactOwner(){
            let idbook;
            const ss = window.location.href.split("/");
            if ( window.location.href.endsWith('/') ){
              idbook = ss[ss.length - 2];
            } else {
              idbook = ss[ss.length - 1];
            }

            const idmember = localStorage.getItem('idmember');

            window.location.href = `/message?idbook=${idbook}&idmember=${idmember}`;
          }
          document.getElementsByName('btn_contact_owner')[0].onclick = contactOwner;
        </script>
        
      </div>
    </div>
  <% } %>
</main>

<footer>
    <%- include('./footer'); %>
</footer>


</body>
</html>