<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
</head>
<body class="container">

<header>
    <%- include('./header', { isAuthorized: true }); %>
</header>

<main>
  <%#<script type="text/javascript">
    const mainElem = document.body.getElementsByTagName('main')[0];
    mainElem.innerHTML += 
      `<p><a href="/book">Upload a book info</a><p>`;
  </script>%>
  <h2>My books</h2>
    <% if (locals.books) { %>
      <ul>
        <% for (let book of books) { %>
          <li><a href='/book/<%=book.idbook%>'><%=book.title%></a></li>
        <% } %>
      </ul>
    <% } %>
  <form action="/book/upload" method="POST">
    <script type="text/javascript">
      const idmemberElem = document.createElement('input');
      idmemberElem.type = 'hidden';
      idmemberElem.name = 'idmember';
      idmemberElem.value = localStorage.getItem('idmember');
      document.currentScript.parentNode.appendChild(idmemberElem);
    </script>
    <input type="submit" name="" value="Upload a book">
  </form>

  <h2>Search for a book</h2>
</main>

<footer>
    <%- include('./footer'); %>
</footer>


</body>
</html>