<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %>
    <script type="text/javascript" src="/javascripts/utils.js"></script> 
</head>
<body class="container">

<header>
    <%- include('./header', { isAuthorized: true }); %>
</header>

<main>
    <% if (locals.data) { %>
      <p><img id="book_cover" src = "/images/books/<%=data[0].images%>"></p>
    
      <% for (datum of data) { %>
        <p><b><%=datum.sender_name%>: </b> <span><%=datum.text%></span></p>
      <% } %>

      <label>Type here</label>
      <input type="text" name="" id="text" onkeypress="handleKeyPress(event, this)">
      <input type="button" name="btn_send" value="Send" onclick="sendText()">

      <script type="text/javascript">
        let idreceiver = <%=data[0].idmember%>;  // by default, idreceiver=b.idmemer
        
        function sendText(){
          const idbook = new URLSearchParams(window.location.search).get('idbook');
          console.log(idbook);
          const idsender = localStorage.getItem('idmember');  // guest view, book receiver view
          const textElement = document.getElementById('text')
          const text = textElement.value;
          postData('/message', { idbook: idbook, idsender: idsender, idreceiver: idreceiver, text: text })
            .then( data => {
              console.log(data);
            });
          textElement.value = '';
          textElement.focus();
        }

        function handleKeyPress(event, obj){
          if (event.key == 'Enter') {
            sendText();
            obj.value = '';
          };
        }
      </script>
    <% } %>
</main>

<footer>
    <%- include('./footer'); %>
</footer>


</body>
</html>